.recent-container {
  width: 50%;
  margin: 0 auto;
  background-color:darkslategray;

  .recent-form {
    width: 50%;
    margin: 0 auto;
    background-color: burlywood;
  }

  .task-save {
    float: right;
  }

}


